@import "../commons.css";


.my-skills {
    background-color: var(--clr-dark);
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url(../../assets/skills.jpg);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
}

.section__title--skills {
    color: var(--clr-accent);
    position: relative;
}

.section__title--skills::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.skills {
    margin-bottom: 4em;
}

.my-skills h3{
word-wrap: normal;
}

.skills {
    max-width: 500px;
    margin: 0 auto;
}

.skill{
    border-style: solid;
    border-radius: 25px;
    width: 250px;
    height: 350px;
    padding: 20px;
    flex: 1;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) )
}


.skill h3{
    line-height: 2.4;
}

.skill:hover{
    transform: scale(1.1);
}

@media(max-width:650px){

    .skill{
        width: 40%;
        padding: 10px;
        flex: 1;
        flex-basis: 40%;
        margin: 1em;
    }

    .skills {
        display: flex;
        align-content: center;
        max-width: 1100px;
        flex-wrap: wrap;

    }

}

@media (min-width:651px) and (max-width:1014px){
    .skill{
        white-space: nowrap;
        margin-left: 0;
        height: 320px;
        flex: 1 0 40%;
        margin: 1em;
    }
    .skills {
        display: flex;
        align-content: center;
        max-width: 1100px;
        flex-wrap: wrap;
    }

}

@media (min-width: 1015px) {
    .skill{
        flex-basis: 20%;
        white-space: nowrap;

    }
    .skills {
        display: flex;
        justify-content: center;
        max-width: 1100px;
        flex-flow: row wrap;
        position: relative;
    }
    
    .skill + .skill {
        margin-left: 1.5em;
    }
}